@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body {
    margin: 0;
}

header {
    height: 100px;
    border-bottom: 1px solid #ececec;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.headerInside {
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    background: url(logo.png) no-repeat;
    width: 95px;
    line-height: 51px;
    background-size: contain;
    padding-left: 73px;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 27px;
}

.logo span {
    font-weight: 400;
    color: #f16d7f;
}

.searchWrap {
    width: 400px;
    display: flex;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    margin-left: 37px;
}

.searchBrowse {
    padding: 12px;
    border-right: 1px solid #e6e6e6;
}

.searchWrap input {
    border: none;
    flex-grow: 1;
    padding: 0 4px;
}

.searchWrap button {
    width: 36px;
    border: none;
    border-left: 1px solid #e6e6e6;
    background: white;

}

.searchWrap button i {
    color: #a4a4a4;
}

.headerCart {
    margin-left: auto;
    margin-right: 26px;
}

.accountbutton {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    padding: 13px 19px;
    border: none;
}

.topNav {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 170px;
    box-sizing: border-box;
}

.topNav a {
    text-decoration: none;
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
}

.topBanner {
    background: url(man.png) no-repeat center;
    background-color: #e8e8e8;
    height: 665px;
}

.topBannerContainer {
    display: flex;
    align-items: center;
    height: inherit;
}

.topBannerSign {
    border-left: 12px solid #f16d7f;
    height: 92px;
    margin-left: 236px;
    padding-left: 12px;

}

.topSign,
.bottomSign {
    color: #222222;
    font-family: Lato;
}

.topSign {
    font-size: 60px;
    font-weight: 900;
    line-height: 45px;

}

.bottomSign {
    font-size: 40px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 17px;
}

.bottomSign span {
    color: #f16d7f;
}

.offers {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 829px;
}

#kosh {
    width: 560px;
    height: 261px;
    background-color: #dadad2;
}

.offers div {
    position: relative;
}

.offers .label {
    position: absolute;
    top: 25px;
    padding: 15px 20px;
    background: white;
    font-family: Lato;
    font-weight: 700;
    font-size: 18px; 
}

.label span {
    color: #f16d7f;
font-size: 30px;
font-weight: 900;
}

.featuredItemsWrap {
    margin-top: 100px;
}

.featuredHead {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    font-family: Lato;
}

.featuredDesk {
    text-align: center;
    color: #9f9f9f;
    font-size: 14px;
    margin-top: 15px;
    font-family: Lato;
}